<div class="parallax">
  <div class=" hoc clear">
    <article>
      <div>
        <h2 class="heading" style="padding:29px;"></h2>
        <h2 style="font-size:75px; text-align: center;">INFORMACIÓN.</h2>
        
          <!--<img class="imgl borderedbox inspace-5" src="images/imgl.gif" alt="">-->
          <p class="heading" align="justify" style="text-align: left;">¡Bienvenido al gran reto: Quiniela Chapina! </p>
          <p class="heading" align="justify" style="text-align: left;">Mide tu suerte y tus conocimientos de fútbol y participa en el reto QUINIELA CHAPINA.</p>
          <p class="heading" align="justify" style="text-align: left;">Lo único que tienes que hacer es llenar el <a href="" style="color:#31ff6f;">formulario de suscripción.</a> Y cada semana verificar cual será tu quiniela para cada jornada.</p>
          <p class="heading" align="justify" style="text-align: left;">Invita a tus amigos, compañeros de oficina, familiares... Muy pronto podrás crear tu liga privada en donde podrán disponer de su propia tabla de posiciones.</p>
            <hr>
              <p align="justify">Apóyanos en nuestras redes sociales, y así estarás más pendiente de novedades deportivas. :)</p>
              <div class="clear" style="padding:0px; margin:0px;">
                  <a href="https://www.facebook.com/quinielachapina" class="btn btn-social-icon btn-lg btn-facebook">
                    <span class="fa fa-facebook"></span>
                  </a>
                  <a href="https://www.twitter.com/quinielachapina" class="btn btn-social-icon btn-lg btn-twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
              </div>   
      <h2 class="heading" style="padding:29px;"></h2>
      <h2 class="heading" style="padding:15px;"></h2>
      </div>
    </article>
  </div>
</div> 


<style>
  .parallax {
      /* The image used */
      background-image: url("assets/images/033.jpg");
  
      /* Set a specific height */
      min-height: 500px;
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  
  body{
    height: 100%;
    margin: 0;
  }
  
  .heading{
  margin: 0 0 20px 0;
  font-size: 23px;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  }

  .overlay{
    color: inherit;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==");
  }

  /*.pattern {background:url(assets/images/01.jpg); width: 100%; height: 100%;}*/
  .pattern:after { content:""; width:100%; height:100%; position:absolute; top:0; left:0; z-index:0;}
  .pattern > div { position:relative; z-index:1;}
  .pattern:after{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==); /*background:url(images/pattern.png);*/}

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.container{
  padding: 80px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
}

.clear{
  clear: both;
}

.row3 {
    color: #141414;
    background-color: #FFFFFF;
}

.clear, .clear::after, .group, .group::after {
    clear: both;
}
.clear, .group {
    display: block;
}

.row2 {
    color: #141414;
    background-color: #F3F3F3;
}
  </style>