<div class="parallax">
  <div class=" hoc clear">
    <article>
      <div>
        <h2 class="heading" style="padding:29px;"></h2>
        <h2 style="font-size:75px; text-align: center;">Reglas.</h2>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">1. Solo podrán participar usuarios que se suscriban con un correo electrónico existente, real, y activo.</p>
        <p class="heading" align="justify" style="font-size:35px; text-align: center;">2. Los jugadores acumularán puntos según se describe a continuación...             
            
                <p style="text-align: center;">Por cada partido acertando el ganador o empate: 1 puntos</p>
            
                <p style="text-align: center;">Por acertar marcador exacto: 2 puntos extras (por partido)</p>
            
                <p style="text-align: center;">Por cada partido no acertado: -1 punto</p>
            
                <p style="text-align: center;">Mega Quinela (acertar en todos los equipos ganadores, sin importar marcador): 5 puntos (extras)</p>
            
                <p style="text-align: center;">Quinelazo (fallar en todas las quiniela de la jornada): -5 puntos (además -1 punto por partido)</p>
            
                <p style="text-align: center;">No ingresar quiniela: -5 puntos (por jornada)</p>

        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">3. Se considera TEMPORADA DE QUINIELAS, a la serie de jornadas de quinielas, la cual puede durar entre 1 o 5 meses.</p>    
        <p class="heading"align="justify" style="font-size:35px;">Se considera JORNADA DE QUINIELAS, a la serie de de quinielas, la cual puede durar entre 1 y 7 días. He aquí porque es importante visitar el sitio web al menos una vez por semana.</p>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">5. La quiniela se podrá cambiar 1 día antes de que se juegue el partido propuesto.</p>
        <p class="heading" align="justify" style="font-size:35px;">6. Los goles de cada partido, serán contabilizados incluyendo la serie de tiros penal. Los resultados de los partidos serán extraídos de diarios y entidades de publicaciones deportivas.</p>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">7. Los jugadores que se agreguen una vez empezada la temporada, empezarán desde una puntuación de 0. </p>
        <p class="heading" align="justify" style="font-size:35px;">8. Ningún participante podrá tener marcadores negativos (menores de 0 pts). al terminar una Jornada o Temporada</p>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">9. Cualquier persona puede participar. la suscripción al sitio web es voluntaria y tanto la suscripción y la participación son totalmente GRATUITAS</p>
        <p class="heading" align="justify" style="font-size:35px;">10. En caso de existir algún premio...             
          
              <p style="text-align: center;">Solamente se hará entrega de premios a las personas residentes dentro de la República de Guatemala.</p>
          
              <p style="text-align: center;">Si la persona es mayor de edad (18 años en adelante), podrá recibir el premio idenficándose presentando su número de cédula o DPI.</p>
          
              <p style="text-align: center;">Si la persona ganadora es menor de edad (17 años o menos), deberá presentar Fe de Edad reciente (extendida por RENAP) en original, además la cédula de uno de sus padres.</p>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">11. En caso de empate entre 2 o más usuarios, se hará entrega del premio a la persona con más antiguedad, es decir, la persona que se haya suscrito primero al sitio web.</p>
        <p class="heading" align="justify" style="font-size:35px;">12. Quiniela Chapina solamente se hace cargo de entregar los premios que publique en el sitio web oficial marcado como www.quinielachapina.com como dominio o dirección electrónica. No somos responsables de los premios pactados en las \"Liguillas\" que se creen en el sitio.</p>
        <p class="heading" align="justify" style="color:#FFD904; font-size:35px;">13. Todo gol afecta el marcador, incluyendo los penales.</p>
      <h2 class="heading" style="padding:29px;"></h2>
      <h2 class="heading" style="padding:15px;"></h2>
      </div>
    </article>
  </div>
</div> 


<style>
  .parallax {
      /* The image used */
      background-image: url("assets/images/04.jpg");
  
      /* Set a specific height */
      min-height: 500px;
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  
  body{
    height: 100%;
    margin: 0;
  }
  
  .heading{
  margin: 0 0 20px 0;
  font-size: 23px;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  }

  .overlay{
    color: inherit;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==");
  }

  /*.pattern {background:url(assets/images/01.jpg); width: 100%; height: 100%;}*/
  .pattern:after { content:""; width:100%; height:100%; position:absolute; top:0; left:0; z-index:0;}
  .pattern > div { position:relative; z-index:1;}
  .pattern:after{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==); /*background:url(images/pattern.png);*/}

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.container{
  padding: 80px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
}

.clear{
  clear: both;
}

.row3 {
    color: #141414;
    background-color: #FFFFFF;
}

.clear, .clear::after, .group, .group::after {
    clear: both;
}
.clear, .group {
    display: block;
}

.row2 {
    color: #141414;
    background-color: #F3F3F3;
}
  </style>