<!--                                        FOOTER                                            -->
<div class="text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-3"> <img src="assets/images/logooo.png" style="width:73px; height:73px; margin:10px; position:inherit;">
          <h3 class="mb-4">QUINIELA CHAPINA.</h3>

        </div>
        <div class="p-5 col-md-4">
          <h3 class="mb-4">MENÚ</h3>
          <ul class="list-unstyled">
              <a href="#" style="color: #13BC5B;">Inicio</a>
              <br>
              <a href="#" style="color: #13BC5B;">¿Quiénes somos?</a>
              <br>
              <a href="#" style="color: #13BC5B;">Información</a>
              <br>
              <a href="#" style="color: #13BC5B;">FAQ</a>
            </ul>
            <a href="https://www.facebook.com/quinielachapina" class="btn btn-social-icon btn-sm btn-facebook">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="https://www.twitter.com/quinielachapina" class="btn btn-social-icon btn-sm btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
            <br>
            <br>
        </div>
        <div class="p-5 col-md-5" style="float: right;">
          <h3>Mantente informado(a).</h3>
          <form class="my-4">
            <fieldset class="form-group"> <label for="exampleInputEmail1">¡Suscríbete a nuestro boletín de noticias!</label>
              <input type="email" class="form-control" id="Input" placeholder="Ingrese su e-mail" style="font-family: Oswald; width: 120px;"> </fieldset>
            <button type="submit" class="btn btn-outline-success" style="font-family: Oswald;">Enviar</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <hr>
          <p class="text-center">© Copyright 2017 - Todos los derechos reservados. </p>
        </div>
      </div>
    </div>
  </div>
